body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #2eb9b2;
}

.form {
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    width: 600px;
}

.form-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #020102;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin-bottom: 8px;
}

.form-input,
.form-select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

.form-checkbox {
    margin-top: 4px;
}

.form-radio-group {
    display: flex;
    align-items: center;
}

.form-radio-label {
    display: flex;
    align-items: center;
    margin-right: 12px;
    font-size: 16px;
    color: #555;
}

.form-radio {
    margin-right: 6px;
}

.form-submit {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}

.error-message {
    font-size: 14px;
    color: #ff0000;
    margin-top: 4px;
}

.email-input,
.date-input,
.number-input,
.email-label,
.date-label,
.number-label {
    display: block;
    width: 100%;
    margin-top: 8px;
}

.email-label,
.date-label,
.number-label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    margin-bottom: 8px;
}

.password-input-container {
    position: relative;
}

.password-input {
    padding-right: 10px;
}

.show-password-button {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.show-password-button:focus {
    outline: none;
}

.show-password-button:hover {
    color: #2eb9b2;
}

.error-box {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffebeb;
    border: 1px solid #ff0000;
    width: 570px;
}

.error-box-title {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 10px;
}

.error-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.error-list li {
    font-size: 14px;
    color: #ff0000;
}